/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0px;
}

a{
  text-decoration: none;
}


.root-layout{
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  border: 2x solid black;
  width: 30%;
  height: 100vh;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
}

.header-buttons-container{
  display: flex;
  gap: 20px;
}

.header-button{
  border-radius: 10px;
  background-color: rgba(127, 255, 176, 0.436);
}

.login-button:hover{
  background-color: rgba(186, 186, 232, 0.67);
}

.signup-button{
  background-color: rgba(202, 241, 162, 0.668);
}

.signup-button:hover{
  background-color: rgba(76, 0, 130, 0.305);
}

main{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

nav{
  width: 20%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
}

.nav-item{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.nav-project-item{
  display: flex;
  justify-content: space-between;
}

.nav-project-item-section{
  justify-self: flex-start;
  display: flex;
  justify-content: flex-start;
}


.nav-item:hover{
  cursor: pointer;
  background-color: rgba(149, 150, 150, 0.313);
}

.nav-item-dots-container{
  position: relative;
}

.nav-item-dots-container:hover{
  background-color: rgba(128, 128, 128, 0.308);
}

.nav-projects-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.task-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
}

.task-item{
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  border: 2px solid rgb(68, 108, 67);
  border-radius: 10px;
}

.task-item:hover{
  background-color: rgba(101, 243, 101, 0.461);
}

.task-item-section{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 900;
}

.check-container{
  
}

.check-container:hover{
  cursor: pointer;
  background-color: rgb(254, 254, 254);
}

.check-container:hover .check-svg{
  filter: invert(55%) sepia(100%) saturate(3.5) hue-rotate(45deg) brightness(103%) contrast(102%);}

.user-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-page-container:first-child{
  border-right: 2px solid rgba(86, 86, 86, 0.294)
}

.user-page-section{
  display: flex;
  flex-direction: column;
}

.user-form-container{
  display: flex;
  flex-direction: column;
}

.project-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
















.edit-popup{
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 4px solid black;
  border-radius: 5px;
  left: 5rem;
}

.popup-section{

}

.popup-section:hover{
  background-color: rgba(180, 201, 244, 0.687);
}

.small-svg{
  width: 50px;
  height: 50px;
}

.small-logo{
  height: 50px;
  width: auto;
}

.smaller-svg{
  width: 25px;
  height: 25px;
}

.error-message{
  color: #ff0707;
}

.button-pointer:hover{
  cursor: pointer;
}

.rotated{
  transform: rotate(45deg);
}

.hidden{
  display: none;
}

.check-fill{
  filter: invert(93%) sepia(100%) saturate(26%) hue-rotate(91deg) brightness(105%) contrast(110%);
}

.task-complete > *{
  color: grey;
}

.task-complete::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.233); /* Adjust the color and style as needed */
  width: 105%;
}